.rematch-prompt {
    color: rgba(253, 253, 253, 255);
    -unity-text-outline-width: 0.2px;
    -unity-text-outline-color: rgba(253, 253, 253, 255);
    width: 150px;
    align-items: center;
    justify-content: center;
    -unity-text-align: upper-center;
}
